<select name="{{ name }}" id="{{ attrs.id }}"
        {% if multiple %}
            multiple="multiple"
        {% endif %}
        {% if required %}
            required
        {% endif %}
        {% include "floppyforms/attrs.html" %}>
        <option value="">  </option>
        {% for line in lines %}
            <option value="{{ line.0 }}"
                    {% if line.0 in value %}selected="selected"{% endif %}
                    {% if line.0 != '' %}data-description="By Red Hot Cruises" {% endif %}
                    {% if line.0 != '' %}data-imagesrc="http://www.cruiseplanners.com{{ line.2 }}">{% endif %}
                    {{ line.1 }}
            </option>
        {% endfor %}
</select>
