{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    {% block title %}
        <title>Home - CRUISES</title>
    {% endblock %}
    <link rel='shortcut icon' href='{% static 'favicon.ico' %}' />
    {% block canonical %}
        <link rel="canonical" href="{{ request.scheme }}://redhotcruises.com{{ request.path }}" />
     {% endblock %}
    {% block meta %}
        <meta name="msvalidate.01" content="36C636EDEABC652E5B7A976B661EE3A4" />
        <meta http-equiv="content-language" content="en-us">
        <meta property='og:site_name' content='Red Hot Cruises'>
        <meta property='og:email' content='info@redhotcruises.com'>
        <meta property='og:phone_number' content='844-235-4177'>
        <meta property='og:type' content='company'>
        <meta property='og:url' content='{{ request.scheme }}://redhotcruises.com{{ request.path }}'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <meta name='author' content='Red Hot Cruises'>
        <meta name='rating' content='general'>
        <meta name='page-type' content='document'>
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static "vendors/bootstrap.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "font-awesome.min.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "chosen.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "slick.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "slick-theme.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "styles.css" %}">
        <link rel="stylesheet" type="text/css" href="{% static "custom_styles.css" %}">
    {% endblock %}

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
{% block floating_deal %}
    <div class="floating-btn">
        <a href="" class="trigger"><img alt="email image" src="{% static 'email.png' %}"></a>

        <div id="floating-get" class="get-weekly-deals">
            <form method="post">
                {% csrf_token %}
                <div class="form-group text-center">
                    <label>Get weekly cruise deals</label>
                </div>
                <div class="form-group">
                    <input type="email" required placeholder="enter email addresss"
                           class="input-mail-address form-control input-lg">
                </div>
                <div class="form-group text-center" id="menu_error_label" style="display: none">
                    <label style="font-size: 14px!important;">This email already exist!</label>
                </div>
                <div class="form-group">
                    <button type="button" class="btn btn-primary btn-lg btn-block site-btn blue-btn get-deals-button">
                        get deals
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
{% block header %}
{% endblock %}

{% block content %}
{% endblock %}

{% block js %}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-64162408-3', 'auto');
        ga('send', 'pageview');
    </script>
    <script src="{% static "jquery-2.1.1.min.js" %}"></script>
    <script src="{% static "bootstrap.min.js" %}"></script>
    <script src="{% static "slick.min.js" %}"></script>
    <script src="{% static "chosen.jquery.min.js" %}"></script>
    <script src="{% static "site-scripts.js" %}"></script>
    <script src="{% static "custom.js" %}"></script>
{% endblock %}

{% block footer %}
{% endblock %}
<div class="loading_image"></div>

</body>
</html>