{% extends 'frontend/menu.html' %}
{% load staticfiles %}
{% load filters_tag %}

{% block content %}
    {% block banner_content %}
        <div class="page-banner">
            {% filters%}
            <div class="banner-text hidden-xs hidden-sm">
                <h1 class="title">Uniworld Boutique River Cruise Collection to Africa - Middle East - India</h1>

                <div class="description">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec euismod neque ac lacus. Cras
                        nisl. Nam faucibus convallis nulla. Pellentesque euismod volutpat ante. Integer ligula ligula,
                        elementum quis, auctor eleifend, imperdiet varius, velit. Aliquam ipsum. Sed scelerisque felis.
                        Aenean vestibulum nisl eget ipsum. Cras non quam. Nam et orci at nisi volutpat consequat.
                    </p>

                    <p>
                        Nullam et ligula quis nibh porttitor fringilla. Aliquam lorem libero, congue in, faucibus
                        faucibus, varius eget, diam. Nulla sollicitudin vestibulum dolor. Aenean a diam. Nulla eget
                        nisi in neque euismod porttitor. Donec feugiat molestie eros. Nulla aliquet. Nullam facilisis.
                        Donec ligula nunc, cursus non, mattis non, ornare non, lacus. Cras ultricies.
                    </p>
                </div>
            </div>
        </div>
    {% endblock %}
    {% block middle_content%}
    {% endblock %}
{% endblock %}

