{% extends 'frontend/menu.html' %}
{% load staticfiles %}
{% load filters_tag %}

{% block title %}
    <title>Cruises with {{ cruise_line.name }}</title>
{% endblock %}

{% block meta %}
    {{ block.super }}
    <meta property='og:title' content="Cruises with {{ cruise_line.name }}">
    <meta property='og:description'
          content="View all available cruises with {{ cruise_line.name }} at Red Hot Cruises. Browse all destinations, departures and ships with {{ cruise_line.name }}.">
    <meta property='og:keywords' content="Cruises with {{ cruise_line.name }}">
    <meta property='og:copyright' content="Copyright 2015, Red Hot Cruises">
    <meta property='og:image' content="/static/logo.png">
    <meta name='description'
          content="View all available cruises with {{ cruise_line.name }} at Red Hot Cruises. Browse all destinations, departures and ships with {{ cruise_line.name }}.">
    <meta name='keywords' content="Cruises with {{ cruise_line.name }}">
    <meta name='robots' content="index, follow">
    <meta name='googlebot' content="index, follow">
    <meta name='msnbot' content="index, follow">
{% endblock %}

{% block content %}
    <div class="main-section">
        <div id="main-carousel">
            {% main_banner %}
        </div>
        <div class="hidden-sm hidden-xs">
            {% filters %}
        </div>
        <div class="banner-text">
            <h1 class="title">Cruises with {{ cruise_line.name }}</h1>

            <div class="description">
                <p>
                    {{ dinamic_text.first_text|safe }}
                </p>

            </div>
        </div>
        <div class="filters-widget hidden-lg hidden-md">
            <div class="row">
                <div class="col-xs-1 col-sm-3"></div>
                <div class="col-xs-10 col-sm-6">
                    {% filters %}
                </div>
                <div class="col-xs-1 col-sm-3"></div>
            </div>
        </div>
    </div>
    <div class="blue-section">
        <div class="container">
            {% if destinations|length != 0 %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="fancy-title gray-title">
                            <img src="{% static "Lgraywave.png" %}">{{ cruise_line.name }} Destinations
                            <img src="{% static "Rgraywave.png" %}">
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row cruise-details-container">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    {% for d in destinations %}
                        {% if destinations|length == 1 %}
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section-ships">
                        {% elif destinations|length == 2 %}
                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section-ships">
                        {% else %}
                            <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 section-ships">
                        {% endif %}

                    <span><a href="/cruiselines/{{ cruise_line.slug }}/subregion/{{ d.slug }}/">{{ d.name }}</a></span>
                    </div>
                    {% endfor %}
                    </div>
                    </div>
                </div>
                {% endif %}
                {% if departures|length != 0 %}
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="section-title text-center">
                                <h2 class="fancy-title gray-title">
                                    <img src="{% static "Lgraywave.png" %}">{{ cruise_line.name }} Departures
                                    <img src="{% static "Rgraywave.png" %}">
                                </h2>
                            </div>
                        </div>
                    </div>
                    <div class="row cruise-details-container">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            {% for d in departures %}
                                {% if departures|length == 1 %}
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 section-ships">
                                {% elif departures|length == 2 %}
                                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 section-ships">
                                {% else %}
                                    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 section-ships">
                                {% endif %}
                            <span><a
                                    href="/cruiselines/{{ cruise_line.slug }}/departure/{{ d.slug }}/">{{ d.name }}</a></span>
                            </div>
                            {% endfor %}
                            </div>
                            </div>
                        </div>
                {% endif %}
                        {#    </div>#}
                        {#    <div class="blue-section">#}
                        {% if ships|length != 0 %}
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    <div class="section-title text-center">
                                        <h2 class="fancy-title gray-title">
                                            <img src="{% static "Lgraywave.png" %}">{{ cruise_line.name }} Ships
                                            <img src="{% static "Rgraywave.png" %}">
                                        </h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row cruise-details-container">
                                {% for s in ships %}
                                    {% if ships|length == 1 %}
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                    {% elif ships|length == 2 %}
                                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                    {% else %}
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
                                    {% endif %}

                                <div class="section-ships">
                                    <img alt="{{ s.name }}" src="{{ s.big_logo }}" class="img-responsive">
                                <span><a
                                        href="/cruiselines/{{ cruise_line.slug }}/ship/{{ s.slug }}/">{{ s.name }}</a></span>
                                </div>
                                </div>
                                {% endfor %}
                                </div>
                                </div>
                            </div>
                        {% endif %}

{% endblock %}