{% extends 'frontend/menu.html' %}
{% load staticfiles %}
{% load filters_tag %}

{% block title %}
    <title>Cruise Departures - Red Hot Cruises</title>
{% endblock %}

{% block meta %}
    {{ block.super }}
    <meta property='og:title' content="Cruise Departures - Red Hot Cruises">
    <meta property='og:description'
          content="Browse all cruise departures worldwide at Red Hot Cruises. View thousands of departure cities and ports for all available cruises.">
    <meta property='og:keywords' content="Cruise Departures, Red Hot Cruises">
    <meta property='og:copyright' content="Copyright 2015, Red Hot Cruises">
    <meta property='og:image' content="/static/logo.png">
    <meta name='description'
          content="Browse all cruise departures worldwide at Red Hot Cruises. View thousands of departure cities and ports for all available cruises.">
    <meta name='keywords' content="Cruise Departures, Red Hot Cruises">
    <meta name='robots' content="index, follow">
    <meta name='googlebot' content="index, follow">
    <meta name='msnbot' content="index, follow">
{% endblock %}


{% block content %}
    <div class="main-section">
        <div id="main-carousel">
            {% main_banner %}
        </div>
        <div class="hidden-sm hidden-xs">
            {% filters %}
        </div>
        <div class="banner-text">
            <h1 class="title">Cruise Departures</h1>

            <div class="description">
                <p>
                    Red Hot Cruises provides a long list of departure cities worldwide for embarking on a cruise.
                    Whether you are interested in beginning your cruise from the United States or abroad, we have
                    hundreds of ports and cities available across the globe. View the complete list of cruise departures
                    below to discover where you would like to begin your journey.
                </p>

            </div>
        </div>
        <div class="filters-widget hidden-lg hidden-md">
            <div class="row">
                <div class="col-xs-1 col-sm-3"></div>
                <div class="col-xs-10 col-sm-6">
                    {% filters %}
                </div>
                <div class="col-xs-1 col-sm-3"></div>
            </div>
        </div>
    </div>
    <div class="blue-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="section-title text-center">
                        <h2 class="fancy-title gray-title">
                            <img src="{% static "Lgraywave.png" %}">Cruise Departures
                            <img src="{% static "Rgraywave.png" %}">
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 destination-list">
                        {% for port_arr in ports %}
                            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                            {% for p in port_arr %}
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 destination-item">
                                    <span>
                                        <a href="/cruise-departures/{{ p.slug }}/" class="dest-link">{{ p.name }}</a>
                                   </span>
                                </div>
                            {% endfor %}
                            </div>
                        {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}