{% load filters_tag %}

<form method="post">
    <div class="form-group">
        <div class="table-responsive">
            {% if pricing|length > 0 %}
            <table class="table price-table pricing-table-mobile visible-xs">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Inside</th>
                    <th>Ocean</th>
                    <th>Balcony</th>
                    <th>Suite</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for td in pricing %}
                <tr>
                    <td class="date">{{ td.depart_date }}</td>
                    <td>
                        {% if td.is_inside_min_price %}
                            <div class="lowest-price">{{ td.inside | floatformat:"0" | pricemobile}}</div>
                        {% else %}
                            {{ td.inside | floatformat:"0" | pricemobile}}
                        {% endif %}

                    </td>
                    <td>
                        {% if td.is_ocean_min_price %}
                            <div class="lowest-price">{{ td.oceanview | floatformat:"0" | pricemobile}}</div>
                        {% else %}
                            {{ td.oceanview | floatformat:"0" | pricemobile}}
                        {% endif %}

                    </td>
                    <td>
                        {% if td.is_balcony_min_price %}
                            <div class="lowest-price">{{ td.balcony | floatformat:"0" | pricemobile}}</div>
                        {% else %}
                            {{ td.balcony | floatformat:"0" | pricemobile}}
                        {% endif %}

                    </td>
                    <td>
                        {% if td.is_suite_min_price %}
                            <div class="lowest-price">{{ td.suite | floatformat:"0" | pricemobile}}</div>
                        {% else %}
                            {{ td.suite | floatformat:"0" | pricemobile}}
                        {% endif %}

                    </td>
                    <td>
{#                        <input type="checkbox">#}
                        <a target="_blank" href="/cruise/{{ td.id }}" class="text-uppercase"> View</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <table class="table price-table hidden-xs">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>Inside</th>
                    <th>Ocean</th>
                    <th>Balcony</th>
                    <th>Suite</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for td in pricing %}
                <tr>
                    <td class="date">{{ td.depart_date }}</td>
                    <td>
                        {% if td.is_inside_min_price %}
                            <div class="lowest-price">{{ td.inside | floatformat:"0" | price}}</div>
                        {% else %}
                            {{ td.inside | floatformat:"0" | price}}
                        {% endif %}

                    </td>
                    <td>
                        {% if td.is_ocean_min_price %}
                            <div class="lowest-price">{{ td.oceanview | floatformat:"0" | price}}</div>
                        {% else %}
                            {{ td.oceanview | floatformat:"0" | price}}
                        {% endif %}

                    </td>
                    <td>
                        {% if td.is_balcony_min_price %}
                            <div class="lowest-price">{{ td.balcony | floatformat:"0" | price}}</div>
                        {% else %}
                            {{ td.balcony | floatformat:"0" | price}}
                        {% endif %}

                    </td>
                    <td>
                        {% if td.is_suite_min_price %}
                            <div class="lowest-price">{{ td.suite | floatformat:"0" | price}}</div>
                        {% else %}
                            {{ td.suite | floatformat:"0" | price}}
                        {% endif %}

                    </td>
                    <td>
{#                        <input type="checkbox">#}
                        <a target="_blank" href="/cruise/{{ td.id }}"> View Details</a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
                <table class="table price-table">
                <thead>
                <tr>
                    <th>No results found.</th>
                </tr>
                </thead>
                <tbody>
                </table>

        {% endif %}
        </div>
    </div>
{% comment %}    <div class="form-group text-right">
        <button type="submit" class="btn btn-primary btn-lg site-btn blue-btn hover-transition">
            select
        </button>
    </div>{% endcomment %}
</form>