{% extends 'frontend/menu.html' %}
{% load staticfiles %}
{% load filters_tag %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block meta %}
    {{ block.super }}
    {{ metadata|safe }}
{% endblock %}

{% block content %}
    <div class="main-section">
        <div id="main-carousel">
            {% main_banner %}
        </div>


        {% if has_text %}
            <div class="banner-text" id="text-desk">
                <h1 class="title">"Romantic Danube" with Viking River Cruises</h1>

                <div class="description">
                    Viking River Cruises will be featuring their most romantic voyage commencing again in March 2016.
                    The "Romantic Danube" is an 8-day river cruise that visits the grand cities and unique villages
                    along Europe's second-longest river; the Danube. Guests will explore both sides of Hungary’s capital
                    which features traditional Buda and cosmopolitan Pest. The voyage also visits Vienna’s imperial
                    architecture and medieval towns in Austria’s Wachau Valley. Passengers will be able to experience
                    authentic culinary dishes and discover the vibrant history of the regions aboard some of Viking's
                    most spectacular and romantic vessels.

                    <ul>
                        <li>Day 1 - Budapest, Hungary</li>
                        <li>Day 2 - Budapest, Hungary</li>
                        <li>Day 3 - Vienna, Austria</li>
                        <li>Day 4 - Melk, Austria</li>
                        <li>Day 5 - Passau, Germany</li>
                        <li>Day 6 - Regensburg, Germany</li>
                        <li>Day 7 - Main–Danube Canal & Nuremberg, Germany</li>
                        <li>Day 8 - Nuremberg, Germany</li>
                    </ul>

                    Viking's spectacular Longship fleet for the "Romantic Danube" includes Tor, Idun, Odin, Freya, Atla,
                    Var, Njord and Jarl. See below for all departure dates and additional information regarding this
                    memorable European river cruise opportunity. Call us at
                    <a style="color: #fff" href="tel:8442354177">(844)235-4177</a> or
                    <a style="color: #fff" href="mailto:info@redhotcruises.com">email us</a> if you have any questions.
                </div>
            </div>

        {% endif %}

    </div>
    <div class="blue-section">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    {% if not travels|length_is:'0' %}
                        {% sort_by request %}
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 sails">
                    {% for t in travels %}
                        <div class="sail-offer">
                            <div class="details details-info">
                                <h2 class="sail-title">
                            <span>
                                {{ t.name }}
                            </span>
                                </h2>

                                <div class="logo">
                                    <img alt="{{ t.cruise_line.name }}" src="{{ t.cruise_line.logo }}" class="img-responsive">

                                </div>
                                <div class="ship">
                                    <strong> Cruises Line:</strong>
                                    <a href="/cruiselines/{{ t.cruise_line.slug }}/">
                                        {{ t.cruise_line.name }}
                                    </a>
                                </div>
                                <div class="ship">
                                    <strong>Ship:</strong>
                                    <a href="/cruiselines/{{ t.cruise_line.slug }}/ship/{{ t.ship.slug }}/">{{ t.ship.name }}</a>
                                </div>
                                <div class="small-image">
                                    <img alt="{{ t.ship.name }}" src="{{ t.ship.big_logo_src }}" class="img-responsive"></div>

                            </div>
                            <div class="details details-prices">
                                {% comment %}<div class="subtitle">Next Sailing Departs: {{ t.depart_date }}</div>{% endcomment %}
                                {% comment %} <div class="view-next text-right hidden-xs">
                            <a href="{{ t.url }}" role="button" target="_blank"
                               class="btn btn-primary btn-lg site-btn blue-btn hover-transition">
                                view details
                            </a>
                        </div>{% endcomment %}
                                <div class="table-responsive hidden-xs">
                                    <div class="subtitle">Pricing From:</div>
                                    <table class="table price-table">
                                        <thead>
                                        <tr>
                                            <th>Inside</th>
                                            <th>Oceanview</th>
                                            <th>Balcony</th>
                                            <th>Suite</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ t.inside | floatformat:"0" | price }}</td>
                                            <td>{{ t.oceanview | floatformat:"0" | price }}</td>
                                            <td>{{ t.balcony | floatformat:"0" | price }}</td>
                                            <td>{{ t.suite | floatformat:"0" | price }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="table-responsive visible-xs">
                                    <div class="subtitle">Pricing From:</div>
                                    <table class="table price-table price-table-mobile">
                                        <thead>
                                        <tr>
                                            <th>Inside</th>
                                            <th>Ocean</th>
                                            <th>Balcony</th>
                                            <th>Suite</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{ t.inside | floatformat:"0" | pricemobile }}</td>
                                            <td>{{ t.oceanview | floatformat:"0" | pricemobile }}</td>
                                            <td>{{ t.balcony | floatformat:"0" | pricemobile }}</td>
                                            <td>{{ t.suite | floatformat:"0" | pricemobile }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <div class="gateways">
                                    <p><strong>Departing from:</strong></p>
                                    <ul class="list-inline port-list">
                                         <li>{{ t.departing_from }}</li>
                                    </ul>
                                </div>

                                <div class="gateways">
                                    <p><strong>Ports of Call:</strong></p>
                                    <ul class="list-inline port-list">
                                        {% for p in t.ports %}
                                            <li>{{ p.name }}</li>
                                            {% comment %}{% if not forloop.last %}
                                                -
                                            {% endif %}{% endcomment %}
                                        {% endfor %}
                                    </ul>
                                </div>

                                <div class="view-next text-right">
                                    <strong>Sailing Dates Available - {{ t.count }}</strong>
                                </div>
                                <div class="view-next text-right">
                                    <a href="" unique_id="{{ t.travel_unique_id }}" date="{{ t.depart_date_str }}"
                                       role="button"
                                       class="btn btn-primary btn-lg site-btn blue-btn hover-transition view-prices">
                                        View All Sailings & Pricing
                                        <span class="caret"></span>
                                    </a>
                                </div>

                            </div>
                            <div class="prices-form-wrapper">

                            </div>
                        </div>
                    {% empty %}
                        <h3 style="color: #fff!important;">No results found</h3>
                    {% endfor %}


                </div>
            </div>

        </div>

        {% comment %}<div class="col-xs-12">
            <div class="search-box-bottom hidden-md hidden-lg" id="search-mobile-bottom">
                <form method="get" action="/search/">
                    <div class="input-group">
                        <input type="text" placeholder="Search for..." name="q" class="form-control input-lg"><span
                            class="input-group-btn">
                    <button type="submit" class="btn btn-primary site-btn blue-btn"><i class="fa i fa fa-search"></i>
                    </button></span>
                    </div>
                </form>
            </div>
        </div>{% endcomment %}
    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
        <script src="{% static "search_result.js" %}"></script>
{% endblock %}